<mat-toolbar color="primary">
  <img src="assets/mm_logo.svg" class="logo" alt="METRO Markets logo">
  <span>CRUD Example</span>
  <span class="spacer"></span>
  Reload data:
  <button mat-icon-button (click)="refresh()">
    <mat-icon>refresh</mat-icon>
  </button>
</mat-toolbar>

<div class="container mat-elevation-z8">

  <div class="form">
    <mat-form-field floatPlaceholder="never" color="accent">
      <input matInput #filter placeholder="Filter issues">
    </mat-form-field>
  </div>

  <mat-table #table [dataSource]="dataSource" matSort class="mat-cell">

    <ng-container matColumnDef="image">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Image</mat-header-cell>
      <mat-cell *matCellDef="let row"><img class="img-product" [src]="row.image" [alt]="row.name"></mat-cell>
    </ng-container>

    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Id</mat-header-cell>
      <mat-cell *matCellDef="let row" >{{row.id}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Title</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.name}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="url">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Url</mat-header-cell>
      <mat-cell *matCellDef="let row"><a [href]="row.url">page</a></mat-cell>
    </ng-container>

    <ng-container matColumnDef="price">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Price</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.price}}</mat-cell>
    </ng-container>

    <!-- actions -->
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef>
        <button mat-icon-button color="primary" (click)="addNew()">
          <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
        </button>
      </mat-header-cell>

      <mat-cell *matCellDef="let row;">
        <button mat-icon-button color="accent" (click)="viewProduct(row.id)">
          <mat-icon aria-label="View">visibility</mat-icon>
        </button>

        <button mat-icon-button color="accent" (click)="startEdit(row.id)">
          <mat-icon aria-label="Edit">edit</mat-icon>
        </button>

        <button mat-icon-button color="accent" (click)="deleteItem(row.id)">
          <mat-icon aria-label="Delete">delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>


  <div class="no-results" [style.display]="dataSource.renderedData.length == 0 ? '' : 'none'">
    No results
  </div>

  <mat-paginator #paginator
                 [length]="totalCount"
                 [pageIndex]="0"
                 [pageSize]="10"
                 [pageSizeOptions]="[5, 10, 25, 100]"
                 (page)="pageEvent = getServerData($event)">
  </mat-paginator>
</div>
