<div class="container">
  <h3 mat-dialog-title>Product id: {{data.product.id}}</h3>

  <form class="mat-dialog-content" #formControl="ngForm">

    <div class="form">
      <span>{{data.product.id}}</span>
    </div>

    <div class="form">
      <span>{{data.product.name}}</span>
    </div>

    <div class="form">
      <span>{{data.product.image}}</span>
    </div>

    <div class="form">
      <span>{{data.product.url}}</span>
    </div>

    <div class="form">
      <span>{{data.product.price}}</span>
    </div>

    <div mat-dialog-actions>
      <button mat-button (click)="onCancel()" tabindex="-1">Cancel</button>
    </div>
  </form>
</div>

<!--FIND_ME Task 6-->
<!--Please change the template so it will look like this on desktop:-->
<!-- src/assets/view_modal_desktop.png-->
<!--And like this on mobile.-->
<!-- src/assets/view_mobile_desktop.png-->
<!--Breakpoint is 600px-->
<!--Bonus: make image always fit to square of 300x300px-->
