.container > * {
  width: 100%;
}

::ng-deep .view-dialog-content {
  min-height: 330px;
}

::ng-deep .view-dialog-content .mat-grid-tile .mat-figure {
  display: block;
}

.img-product {
  max-width: 300px;
  width: 100%;
}

.data {
  margin-bottom: 20px;
  display: block;
}

.row {
  display: flex;
  align-items: center;
}

.column {
  width: 50%;
}

@media (max-width: 600px) {
  .row {
    display: block;
  }

  .column {
    width: 100%;
  }

  .column:first-child {
    text-align: center;
    margin-bottom: 30px;
  }

  ::ng-deep .view-dialog-content {
    min-height: 530px;
  }
}